.carousel-item-container {
  position: relative;
  overflow: hidden; /* Ensure the image does not overflow the container */
}

.carousel-item-container img {
  animation: zoomInOut 5s infinite alternate; /* Apply the animation */
}

.carousel-item-container:hover img {
  transform: scale(1.1); /* Scale the image by 10% on hover */
}

.text-container {
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
  color: white;
}

.learn-more-btn {
  background-color: transparent;
  color: black;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 10px;
}

.learn-more-btn:hover {
  background-color: black;
  color: white;
}

.learn-more-btn span {
  margin-left: 5px;
}
.carousel-item-footer {
  position: relative;
}

.processing-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: red;
  animation: moveLine 5s linear infinite;
}

.processing-line1 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: rgb(79, 73, 73);
  animation: moveLine 50s linear ;
}

@keyframes moveLine {
  0% { width: 0; }
  100% { width: 100%; }
}



@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Zoom in to 110% */
  }
  100% {
    transform: scale(1); /* Return to original size */
  }
}
.carousel-page-container {
  display: flex;
}

.carousel-container {
  flex: 1;
}








.outline-button-button {
  border: 2px solid transparent; /* Set border to transparent */
  background-color: transparent; /* Set background to transparent */
  color: pink; /* Set text color to pink */
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.outline-button-button:hover {
  background-color: transparent; /* Set hover background color to transparent */
  border-color: pink; /* Set hover border color to pink */
  color: white; /* Change text color on hover */
}










/* css slider */
.slider{
  height: 100vh;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}
.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}
.slider .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
      to top,  40%, transparent
  );
}
.slider .list .item .content{
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2{
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active{
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
  animation-duration: 1.3s;
}
.arrows{
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button{
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}
.arrows button:hover{
  background-color: #eee;
  color: black;
}



@media screen and (max-width: 678px) {
 
  .slider .list .item .content h2{
      font-size: 60px;
  }
  .arrows{
      top: 10%;
  }
}

.learn-more-btn {
   background-color: transparent;
    color: black;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
  }
  
  .learn-more-btn:hover {
    background-color: black;
    color: white;
  }
  
  .learn-more-btn span {
    margin-left: 5px;
  }
  
  
  #main-section {
    flex: 1;
    padding-top: 30px;
    padding-left: 20px; /* Add padding to create space between carousel and text */
  }
  
  .left-aligned {
    text-align: left;
  }

  .place-card-image {
    transition: transform 0.3s ease;
  }
  
  .place-card-image:hover {
    transform: scale(1.1);
  }

  .place-card-container1 {
    padding: 20px; /* Add padding to create space */
  }
  
  



