@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
 
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  padding-top: 20px;
}
.navbar-scrolled{
  background-color: black;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}
nav .wrapper{
  position: relative;
  max-width: 1700px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo {
 padding-left: 100px;
 padding-bottom: 15px;


}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  
  padding: 15px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
/* Default styles */
@media only screen and (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .wrapper .logo {
    padding-left: 0; /* Adjust logo padding */
  }
  .nav-links {
    display: none; /* Hide nav links by default on smaller screens */
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #242526;
    z-index: 999;
    flex-direction: column;
  }
  .nav-links li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #3A3B3C;
  }
  .nav-links li:last-child {
    border-bottom: none; /* Remove border from last li element */
  }
  .nav-links li a {
    padding: 10px 0; /* Adjust padding */
  }
  .wrapper .btn {
    display: block; /* Display toggle button */
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .drop-menu,
  .mega-box {
    position: static; /* Override absolute position */
    opacity: 1;
    visibility: visible;
    top: auto;
  }
}



@media screen and (max-width: 970px) {
  .logo-image {
    width: 150px; /* Adjust size for medium screens */
  }
  
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
    
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}


/*responsive*/
@media only screen and (max-width: 768px) {
  .left-aligned{
    width: 100%;
    margin-bottom: 30px;

}
nav{
  padding-Top: 5px;
}
.logo{
  width: 150px;
  height: auto; /* Adjust size for medium screens */
}


.carousel {
  width: 100%;
  height: 300px; 
  padding-top: 8px;/* Adjust height as needed */
}

.carousel-item-container {
  position: relative;
}

.carousel-item-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



}
@media only screen and (max-width: 576px) {
  .logo{
      width: 150px; /* Adjust size for small screens */
      padding-right: 40px;
      padding-top: 20px;
     
  }
  nav{
    padding-top: 2px;
  }
}







/*new nv*/

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #ffffff;
  min-height: 10px;
  display: flex;
}

.hidden {
display: none;
}

.slideInDown {
-webkit-animation-name: slideInDown;
animation-name: slideInDown;
-webkit-animation-duration: .4s;
animation-duration: .4s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}


@-webkit-keyframes slideInDown {
0% {
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
visibility: visible;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
}
@keyframes slideInDown {
0% {
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
visibility: visible;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
} 


.slideInUp {
-webkit-animation-name: slideInUp;
animation-name: slideInUp;
-webkit-animation-duration: .6s;
animation-duration: .6s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
0% {
-webkit-transform: translateY(15%);
transform: translateY(15%);
visibility: visible;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
}
@keyframes slideInUp {
0% {
-webkit-transform: translateY(15%);
transform: translateY(15%);
visibility: visible;
}
100% {
-webkit-transform: translateY(0);
transform: translateY(0);
}
}

.header .header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

/* Mobile menu styles */ 
.header .header-row .mobile-menu {
position: absolute;
background-color:white;
top: 100%;
left: 0;
width: 100%;
border-top: 3px solid #e9900a;
}

.header .header-row .mobile-menu {
background-color: #fff;
padding: 15px 20px;
box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
}

.header .header-row .mobile-menu ul {
list-style: none;
}

.header .header-row .mobile-menu ul li {
margin-bottom: 10px;
}

.header .header-row .mobile-menu ul li:hover {
background-color: rgba(222, 225, 226, 0.466);
}


/* Mega menu styles */
.header .header-row .mobile-menu ul li.mega-menu {
position: relative;
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper {
display: none;
}

.header .header-row .mobile-menu ul li a {
text-decoration: none;
display: block;
font-size: 14px;
font-weight: 600;
color: rgb(128, 131, 131);
padding-top: 8px;
padding-bottom: 8px;
padding-left: 8px;
}

.header .header-row .mobile-menu ul li.mega-menu:hover .mega-menu-wrapper {
display: grid;
grid-template-columns: 1fr 1fr;
padding: 20px;
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper .mega-menu-col {
margin-bottom: 20px;
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper .mega-menu-col h5 {
font-weight: 800;
text-transform: uppercase;
}

.header .header-row .mobile-menu ul li.mega-menu .mega-menu-wrapper .mega-menu-col ul li a {
font-weight: 400;
}



/* Simple drop down menu */
.header .header-row .mobile-menu ul li.dropdown {
position: relative;
}

.header .header-row .mobile-menu ul li.dropdown .sub-menu-wrapper {
display: none;
}

.header .header-row .mobile-menu ul li.dropdown .sub-menu-wrapper ul li a {
font-weight: 400;
padding-left: 15px;
}

.header .header-row .mobile-menu ul li.dropdown:hover .sub-menu-wrapper {
display: block;
}


/* Hide desktop menu on mobile up to 48em */
@media (max-width: 48em) {
.header .header-row .header-right .main-menu {
  display: none;
}
}


/* Show menu on desktop 48em and above */
@media (min-width: 48em) {

.header {
  border-bottom: 3px solid #ededed;
  background-color: #ffffff;
}

.header .header-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.header .mobile-toggler {
  display: none;
}

.header .header-row .header-right .main-menu {
  display: flex;
}

.header .header-row .header-right .main-menu li.menu-item {
  display: block;
}

.header .header-row .header-right .main-menu li.dropdown {
  position: relative;
}

.header .header-row .header-right .main-menu li.menu-item:not(:last-child) {
  margin: 0 20px 0 0;
}

.header .header-row .header-right .main-menu li.menu-item > a {
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: #444444;
  padding: 40px 14px 40px 14px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.header .header-row .header-right .main-menu li.menu-item a.active {
  color: #e9900a;
}

.header .header-row .header-right .main-menu .sub-menu-wrapper {
  position: absolute;
  text-align: left;
  margin: 0;
  z-index: 111;
  min-width: 100%;
  line-height: 20px;
  display: none;
}

/* Show dropdown menu on hover */
.header .header-row .header-right .main-menu > li.menu-item:hover .sub-menu-wrapper {
  display: block;
}

.header .header-row .header-right .main-menu .dropdown ul.sub-menu {
  background-color: #ffffff;
  border-top: 3px solid #e9900a;
  min-width: 200px;
  padding: 0px 0;
  box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
  text-transform: none;
}

.header .header-row .header-right .main-menu li.menu-item:hover .sub-menu-wrapper li.menu-item {
  padding: 0;
  margin-right: 0;
}

.header .header-row .header-right .main-menu li.menu-item:hover .sub-menu-wrapper li.menu-item > a {
  padding: 8px;
  display: block;
  text-transform: none;
  color: #6d6c6c;
  font-size: 14px;
  font-weight: 400;
}

.header .header-row .header-right .main-menu .sub-menu-wrapper ul li:not(:last-child) {
  border-bottom: 1px solid rgba(204, 204, 204, 0.432);
}

.header .header-row .header-right .main-menu .sub-menu-wrapper ul li:hover {
  background-color: #ededed;
}


/* Mega menu styles */
.header .header-row .header-right .main-menu .mega-menu .mega-menu-wrapper {
  position: absolute;
  left: 0px;
  display: none;
  padding: 20px 25px;
  background-color: #ffffff;
  border-top: 3px solid #e9900a;
  width: 100%;
  box-shadow: 0 5px 8px rgb(0 0 0 / 15%);

}


/* Show mega menu on hover */
.header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper .mega-menu-col h5 {
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-left: 8px;
}

.header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper .mega-menu-col ul {
  list-style: none;
  margin-left: 0px;
  margin-right: 20px;
}

.header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper .mega-menu-col ul li a {
  text-decoration: none;
  padding: 8px;
  display: block;
  font-size: 14px;
  color: rgba(149, 151, 151, 1);
}

.header .header-row .header-right .main-menu li.mega-menu:hover .mega-menu-wrapper .mega-menu-col ul li:hover a {
  background-color: rgba(222, 225, 226, 0.466);
}

}






.header .mobile-toggler {
  color: #ffffff;
  background-color: #0088cc;
  cursor: pointer;
  padding: 7px 13px;
  text-align: center;
  font-size: 13px;
  vertical-align: middle;
  margin: 8px 0 8px 1em;
  line-height: 20px;
}




.hero {
background: rgb(5,146,200);
background: linear-gradient(107deg, rgba(5,146,200,1) 0%, rgba(15,113,117,1) 100%);
padding: 50px 20px;
min-height: 80vh;
color: #fff;
display: flex;
text-align: center;
align-items: center;
font-size: 40px;
}

@media (min-width: 48em) {
.hero {
  font-size: 60px;
}
}

/* Container styles */
.container {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 36em) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 36em) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 48em) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 62em) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 75em) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 87.5em) {
  .container {
    max-width: 1380px;
  }
}