.image-container {
    flex: 1;
    margin-right: 20px;
    overflow: hidden; /* To ensure the image doesn't overflow its container */
  }
  
  .zoom-image {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease; /* Transition for smooth animation */
  }
  
  .auto-hover {
    animation: zoomInOut 5s infinite alternate; /* Animation for automatic hover */
  }
  
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  
  .sky-blue-background {
    background-color: lightgray;
  }
  

